@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    background-color: #EDEEF3;
    color: #0F172A;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  * {
    border-color: rgb(226 232 240);
  }
}

@layer utilities {
  .tabular-nums {
    font-variant-numeric: tabular-nums;
  }
}
